.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Signika", sans-serif;
}

.bg-container {
    background-color: rgb(0, 35, 78);
}

.titulos {
    font-family: "Raleway", sans-serif;
}

.jumbo-color {
    background: rgb(101, 32, 62);
    background: radial-gradient(circle, rgba(101, 32, 62, 1) 0%, rgba(2, 12, 24, 1) 100%);
    padding: 4rem 3rem;
}

.card-hotel {
    width: 14rem;
    border-color: blueviolet;
    border-width: 1.5px;
    min-height: 300px;
}

.text-justify {
    text-align: justify;
}

.social-icon {
    font-size: 3rem;
}

.footer {
    margin-top: auto;
    background: rgb(101, 32, 62);
    background: radial-gradient(circle, rgba(101, 32, 62, 1) 0%, rgba(2, 12, 24, 1) 100%);
}

a {
    text-decoration: none;
}

